apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-nginx
spec:
  strategy:
    type: Recreate
  replicas: 2
  selector:
    matchLabels:
      app: nginx
      version: v1213
  template:
    metadata:
      labels:
        app: nginx
        version: v1213
    spec:
      containers:
        - name: nginx
          image: nginx:1.21.3
          ports:
            - containerPort: 80
